


@font-face {
  font-family: "Glober Bold";
  src: url('../fonts/GloberBold.otf');
}

@font-face{
font-family: "Glober Book";
src: url('../fonts/GloberBook.otf');
}

$font-bold: 'Glober Bold', serif;
$font-regular: 'Glober Book', sans-serif;


html {
  font-size: 1rem;

}

/** @include media-breakpoint-up(lg) {
  html {
    font-size: 1.2rem;
  }
} **/

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p {
  margin-bottom: 20px;
  color: $heading-color;
  font-family: $font-bold;
}

h6, .h6 {
  font-family: $font-bold;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875em;
  color: $primary;
}

p {
  color: $body-color;
  font-family: $font-regular;
}

.lead {
}

.page-title {
  font-size: 3.4em;
  line-height: 1em;
  margin-bottom: 0;
}

p:last-of-type {
  margin-bottom: 0;
}


ul, ol {
  font-family: $font-regular;
}

hr {
  &.short {
    height: 3px;
    width: 70px;
    background: $primary;
    border: none;
  }
}

li{
  margin-left:1rem;
}