#footer {
    background: $dark;
    font-size: 0.875em;
    padding: 50px 0;

    .row {
      margin-bottom: 30px;
    }

    .col-* {
      margin-bottom: 30px;
    }

    h1, h2, h3, h4, h5, h6, p {
        color: #fff;
        margin-bottom: 0;
    }

    a, a:visited {
        color: #fff;
        text-decoration: underline;
        opacity: 1;
        transition: 0.2s;
    }
    a:hover, a:active {
        opacity: 0.6;
    }
}

.footer__logo {
  width: 150px;
}


.preloader-wrap{
    width:100%;
    height:100%;
    position:fixed;
    z-index:100;
    left:0;
    top:0;
    background-color:white;
}

.preloader__inner{
    position:absolute;
    left:50%;
    width:4em;
    top:50%;
    transform:translateY(-50%, -50%);
    height:4em;
    background:$primary;
    border-radius:100%;
    border-right:0px;
    animation-name: loader;
    animation-duration:1200ms;
    animation-iteration-count: infinite;

}

@keyframes loader{
    from{
        transform:scale(0);
    }
    to {
        transform:scale(1);
        opacity:0;
    }
}

#topBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 2rem; /* Place the button at the bottom of the page */
    right: 2rem; /* Place the button 30px from the right */
    z-index: 1020; /* Make sure it does not overlap */
    border: 0px; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: $primary; /* Set a background color */
    color: $white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    height: 50px;
    width: 50px;
    border-radius: 50%; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    transition: 0.2s;
    box-shadow:0px 6px 20px 0px rgba(0, 0, 0, 0.2);
}

#topBtn:hover {
    background-color: darken($primary,10%); 
    color: $white;
}