
#header {
  background: transparent;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  z-index: 15;
  color: #fff;
  /* animation */
  opacity: 1;
  transition: background 0.25s linear;
  /* fix chrom flicker? */
  -webkit-backface-visibility: hidden;
  /* Chrome, Safari, Opera */
  backface-visibility: hidden;
  transition: 0.4s;


  @include media-breakpoint-down(sm) {
    margin-left: 0px;
    padding: 0px;
  }

  .header__navigation {

    .active > .nav-link {
      color: rgba($white,1);
    }

    li {
      margin-left: 30px;
    }

    a {
      color: rgba($white,.7);
      transition: 0.2s;
      padding: 0;


      @include media-breakpoint-down(sm) {
        margin-left: 0px;
        padding: 20px 0px;
      }

      &:hover {
        color: rgba($white,1);
      }
    }
  }

}

#header {

  .logo {
    margin-bottom: 0;
    z-index:3;
  }

 
}

.header__logo {
  display: block;
  width: 150px;
  z-index:5;
  position:absolute;
  top:2rem;
  @include media-breakpoint-down(sm) {
    width: 100px;
  }
}


.header__inner {
  display: flex;
  justify-content: space-between;
  align-items:center;
  margin: 0 auto;
  width: 100%;

  @include media-breakpoint-down(sm) {
    padding: 15px;
    border-bottom: none;
    flex-direction: column;
  }
}

.header__navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @include media-breakpoint-down(sm) {
    justify-content: flex-start;
  }


}

.header-nav {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  @include media-breakpoint-down(sm) {
    display: none;
    flex-direction: column;
    &.is-active {
      display: flex;
    }
  }
  &.is-active {
    display: flex;
  }
}


/*--------------------------------------------------------------------------
*
*	Header
*
*-------------------------------------------------------------------------*/

.admin-bar #header {
  top: 32px;
}
#header .menu .menu-item-wrap {
  line-height: 30px;
  margin: 0;
  padding: 0;
  /* mobile */
  /* actions */
  /* margins */
}

.menu{
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
  opacity:0;
  display:none;
  transition:400ms ease-in-out;
  transition-delay:0ms;
  pointer-events:none;

  &.is-active{
    display:block;
    opacity:1;
    transition-delay:600ms;
    .menu__card{
      display:inline-flex;
    }
  }

  *{
    transition:400ms ease-in-out;
    text-align:center;

  }

  &__card{
    width:calc(100% - 2rem) !important;
    height: calc(100% - 2rem) !important;
    display: none;
    align-items: flex-end;
    pointer-events:all;
    &:hover{
      .overlay{
        opacity:0.4;
      }
    }


  }
  .overlay{
    background-color:#000;
    opacity:0.2;
    position:absolute; 
    left:1rem;
    top:1rem;
    width:calc(100% - 2rem) !important;
    height: calc(100% - 2rem) !important;
  }
  &__image{
    left:1rem;
    top:1rem;
    width:calc(100% - 2rem) !important;
    height: calc(100% - 2rem) !important;
    z-index:-1;
  }
  &__text{
    color:#fff;
    z-index:2;
    text-align:left;
    margin-bottom:2rem;
    width:100%;
    padding:0 2rem;
  }
}



.toggle-menu {
    position: fixed;
    height: 0.875rem;
    width: 1.375rem;
    right:2em;
    margin-right:2rem;
    z-index:2;
    top:4rem;

    &:before{
      content:"";
      background-color:$white;
      width:4rem;
      height:4rem;
      border-radius:100%;
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%, -50%);
      box-shadow:0px 6px 20px 0px rgba(0, 0, 0, 0.2);
    }

    .line {
        position: absolute;
        display: block;
        height: 0.125rem;
        width: 100%;
        background: $accent;
        left: 0px;
        top: 0%;
        transition: 0.4s;
        &:nth-of-type(2) {
            top: 50%;
        }
        &:nth-of-type(3) {
          top: 100%;
      }
    }
    @include media-breakpoint-down(sm) {
        display: block;
    }

    &.is-opened-navi .line {
        transform: rotate(135deg);
        top: 50%;
        &:nth-of-type(2) {
            width: 100%;
            top: 50%;
             transform: rotate(-135deg);
        }
    }
}


.header__circle{
  position:absolute;
  border-radius:100%;

  z-index:1;

    @media screen and (max-width:768px){
    display:none;
  }
  &--primary{
    background-color:$primary;
    width:30rem;
    height:30rem;
    top:-18.25rem;
    left:-12.25rem;
  }
  &--accent{
    z-index:-1;
    background-color:$accent;
    width:62.75rem;
    height:62.75rem;
    top:-57.75rem;
    left:-22.9375rem;
  }
  &--dark{
    display:none;
    z-index:-1;
    background-color:$dark;
    width:188.3125rem;
    height:188.3125rem;
    top:-178.875rem;
    right:-94.156265rem;
  }
}

.shape-overlays {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0; 
  left: 0;
  z-index:-2;
  pointer-events:none;
}


.shape-overlays path:nth-of-type(1) { fill: $dark; }
.shape-overlays path:nth-of-type(2) { fill: $primary; }
.shape-overlays path:nth-of-type(3) { fill: $accent; }
.shape-overlays path:nth-of-type(4) { fill: #efefef; }

